# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*$py.class

# Ignore other common files
*.log
*.sql
*.sqlite

# Ignore virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Ignore distribution directories
dist/
build/
*.egg-info/
.eggs/

# Ignore documentation files
docs/_build/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS and Linux filesystem metadata
.DS_Store
Thumbs.db
*.swp
